<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission</title>
</head>
<body>
    <h1>Clover International School</h1><hr>
    <h2>Student Data</h2>
    <h3>Student name:<span id="stname"><%=stname%></span></h3><br>
    <h3>Roll No:<span id="rollno"><%=rollno%></span></h3>

    <p>Data submission complete.</p>

</body>
</html>